.add_table,.add_table td,.add_table th{
	border: 2px solid #666;
	border-collapse:collapse;
	padding: 5px;
	background-color: #F7F7F7;
}
.add_table{
	width: 700px;
	margin: 10px auto;
	border: 2px solid #fff;
}
.add_table td input[type='text'],.add_table th input[type='text']{
	padding: 2px 10px;
}